<html>
  <head>
    <!--<meta charset="iso-8859-1">-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{title}}</title>
    <script type="text/javascript" src="../static/Brython3.0.0-20141104-210332/brython.js"></script>
  </head>
  <body onload="brython()">

    <!--<script type="text/python">
    from browser import document as doc
    doc <= "Salut !"
    #print( "Salut!")
    </script>-->

    <script type="text/python" src="../static/Frame.py"></script>

  </body>
</html>